<h1>Dashboard</h1>

<%= @person.name_first %>

<%= link_to "Log Out", destroy_client_session_path, :method => :delete, class: 'uk-button-danger uk-button uk-button-large' %>

<style>
  table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
  table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
  table.testgrid th { background: #E5E5E5; text-align: left; }
  input.invalid { background: red; color: #FDFDFD; }
</style>

<script>
  window.onload = function() {

    var metadata = [];
    metadata.push({ name: "activity", label: "Activity", datatype: "string", editable: true});
    metadata.push({ name: "firstname", label:"FIRSTNAME", datatype: "string", editable: true});
    metadata.push({ name: "age", label: "AGE", datatype: "integer", editable: true});
    metadata.push({ name: "height", label: "HEIGHT", datatype: "double(m,2)", editable: true});
    metadata.push({ name: "country", label: "COUNTRY", datatype: "string", editable: true});
    metadata.push({ name: "email", label: "EMAIL", datatype: "email", editable: true});
    metadata.push({ name: "lastvisit", label: "LAST VISIT", datatype: "date", editable: true});

    // ["TRAIT"] = {"activity_key":"Label",...};
    metadata[0].values = {};
    metadata[0].values["Athletic"] = {"pfb":"Play Football","pbb":"Play Basketball","uk":"Great-Britain","nl":"Nederland"};
    metadata[0].values["America"] = {"br":"Brazil","ca":"Canada","us":"USA"};
    metadata[0].values["Africa"] = {"ng":"Nigeria","za":"South-Africa","zw":"Zimbabwe"};

    var data = [];
    data.push({id: 1, values: {"activity":"pbb","age":33,"name":"Duke","firstname":"Patience","height":1.842,"email":"patience.duke@gmail.com","lastvisit":"11\/12\/2002"}});
    data.push({id: 2, values: {"activity":"pfb","age":33,"name":"Duke","firstname":"Patience","height":1.842,"email":"patience.duke@gmail.com","lastvisit":"11\/12\/2002"}});

    editableGrid = new EditableGrid("DemoGridJsData");
    editableGrid.load({"metadata": metadata, "data": data});
    editableGrid.renderGrid("tablecontent", "testgrid");
  }
</script>

<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
<script type="text/javascript">
  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
          type: 'radar',
          renderAt: 'chart-container',
          width: '500',
          height: '350',
          dataFormat: 'json',
          dataSource: {
            "chart": {
              "caption": "Personality Map",
              "subCaption": "Your own personality",
              "numberPreffix": "$",
              "theme": "fint",
              "radarfillcolor": "#ffffff",
            },
            "categories": [{
              "category": [{
                "label": "Physical"
              }, {
                "label": "Expressive"
              }, {
                "label": "Creative"
              }, {
                "label": "Abstract"
              }, {
                "label": "Social"
              }]
            }],
            "dataset": [{
              "seriesname": "Facets",
              "data": [{
                "value": "10"
              }, {
                "value": "4.8"
              }, {
                "value": "91"
              }, {
                "value": "4.0"
              }, {
                "value": "3.6"
              }]
            }]
          }
        }
    );
    fusioncharts.render();
  });
</script>

<body>
<div id="tablecontent"></div>
<div id="chart-container">FusionCharts XT will load here!</div>
</body>